{% load static %}
<!DOCTYPE html>
<html lang="pt-PT">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Restaurante Cafe Crioulo</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy:wght@400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Delicious
  * Template URL: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header fixed-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-end justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-phone d-flex align-items-center d-none d-lg-block"><span>+238 2421774</span></i>
          <i class="bi bi-clock ms-4 d-none d-lg-flex align-items-center"><span>Segunda-Sabado: 11:00 AM - 23:00 PM</span></i>
        </div>
        <a href="#book-a-table" class="cta-btn">Reservar</a>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename">Restaurante Café Crioulo</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#hero" class="active">Início</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#specials">Especiais</a></li>
            <li><a href="#events">Eventos</a></li>
            <li><a href="#chefs">Destaque</a></li>
            <li><a href="#gallery">Galeria</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
          <img src="{% static 'assets/img/hero-carousel/hero-carousel-1.jpg' %}" alt="">
          <div class="carousel-container">
            <h2><span>Delicioso</span> Restaurante</h2>
            <p>Bem-vindo ao lugar onde a boa comida encontra um ambiente acolhedor. No nosso restaurante, cada prato é preparado com ingredientes frescos e um toque especial de sabor, pensado para proporcionar uma experiência única a cada cliente.</p>

            <div>
              <a href="#book-a-table" class="btn-get-started">Reservar uma mesa</a>
            </div>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'assets/img/photo4jpg.jpg' %}" alt="">
          <div class="carousel-container">
            <h2><span>Sabor</span> e Tradição</h2>
            <p>Cada prato conta uma história. Com receitas que atravessam gerações, servimos mais do que comida — servimos cultura, memórias e momentos especiais à volta da mesa.</p>

            <div>
              <a href="#book-a-table" class="btn-get-started">Reservar uma mesa</a>
            </div>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'assets/img/image_capa_4.jpg' %}" alt="">
          <div class="carousel-container">
            <h2><span>Experiência</span> Inesquecível</h2>
            <p>Desde o atendimento caloroso ao ambiente acolhedor, queremos que cada visita ao nosso restaurante seja uma celebração. Sinta-se em casa e desfrute de uma refeição feita com paixão.</p>

            <div>
              <a href="#book-a-table" class="btn-get-started">Reservar uma mesa</a>
            </div>
          </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section light-background">

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'assets/img/capa_1.jpg' %}" class="img-fluid" alt="">
            <a href="{% static 'assets/video/video.mp4' %}" class="glightbox pulsating-play-btn"></a>
          </div>
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <h3>Excelência e dedicação em cada detalhe.</h3>
            <p class="fst-italic">
              Valorizamos a qualidade, o sabor autêntico e a experiência única à mesa — tudo pensado para si.
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Serviço dedicado e personalizado para cada cliente.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Ambiente acolhedor que combina tradição e conforto.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Pratos preparados com ingredientes frescos e sabores marcantes, pensados para despertar memórias e emoções.</span></li>
            </ul>
            <p>
              A nossa missão é proporcionar momentos inesquecíveis através da gastronomia. Sinta-se em casa e desfrute de uma verdadeira experiência crioula com qualidade e paixão.
            </p>
          </div>
        </div>

      </div>


    </section><!-- /About Section -->

    <!-- Why Us Section -->
    <section id="why-us" class="why-us section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>O que nos torna únicos</h2>
        <div><span>Por que escolher-nos</span> <span class="description-title"> Nosso Restaurante</span></div>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <span>01</span>
              <h4><a href="" class="stretched-link">Ingredientes Frescos</a></h4>
              <p>Usamos apenas ingredientes frescos e selecionados para garantir o sabor autêntico em cada prato.</p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <span>02</span>
              <h4><a href="" class="stretched-link">Sabor Crioulo Autêntico</a></h4>
              <p>Oferecemos uma experiência gastronómica com o verdadeiro toque crioulo, repleta de tradição e paixão.</p>
            </div>
          </div><!-- Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <span>03</span>
              <h4><a href="" class="stretched-link">Ambiente Acolhedor</a></h4>
              <p>O nosso espaço foi pensado para proporcionar conforto e bem-estar, ideal para qualquer ocasião.</p>
            </div>
          </div><!-- Card Item -->

        </div>

      </div>

    </section><!-- /Why Us Section -->

    <!-- 
    <section id="menu" class="menu section">

    
      <div class="container section-title" data-aos="fade-up">
        <h2>Menu</h2>
      
        <div><span>Conheça o Nosso Menu Delicioso</span> <span class="description-title">Menu</span></div>
      </div>

      <div class="container isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul class="menu-filters isotope-filters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-starters">Starters</li>
              <li data-filter=".filter-salads">Salads</li>
              <li data-filter=".filter-specialty">Specialty</li>
            </ul>
          </div>
        </div>

        <!--
        
          <div class="row isotope-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item isotope-item filter-starters">
            <img src="assets/img/feijoada.png" style="" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Lobster Bisque</a><span>$5.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div> 

          <div class="col-lg-6 menu-item isotope-item filter-specialty">
            <img src="assets/img/menu/bread-barrel.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Bread Barrel</a><span>$6.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>

          <div class="col-lg-6 menu-item isotope-item filter-starters">
            <img src="assets/img/menu/cake.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Crab Cake</a><span>$7.95</span>
            </div>
            <div class="menu-ingredients">
              A delicate crab cake served on a toasted roll with lettuce and tartar sauce
            </div>
          </div>

          <div class="col-lg-6 menu-item isotope-item filter-salads">
            <img src="assets/img/menu/caesar.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Caesar Selections</a><span>$8.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>

          <div class="col-lg-6 menu-item isotope-item filter-specialty">
            <img src="assets/img/menu/tuscan-grilled.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Tuscan Grilled</a><span>$9.95</span>
            </div>
            <div class="menu-ingredients">
              Grilled chicken with provolone, artichoke hearts, and roasted red pesto
            </div>
          </div>

          <div class="col-lg-6 menu-item isotope-item filter-starters">
            <img src="assets/img/menu/mozzarella.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Mozzarella Stick</a><span>$4.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>

          <div class="col-lg-6 menu-item isotope-item filter-salads">
            <img src="assets/img/menu/greek-salad.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Greek Salad</a><span>$9.95</span>
            </div>
            <div class="menu-ingredients">
              Fresh spinach, crisp romaine, tomatoes, and Greek olives
            </div>
          </div>

          <div class="col-lg-6 menu-item isotope-item filter-salads">
            <img src="assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Spinach Salad</a><span>$9.95</span>
            </div>
            <div class="menu-ingredients">
              Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
            </div>
          </div>

          
          <div class="col-lg-6 menu-item isotope-item filter-specialty">
            <img src="assets/img/menu/lobster-roll.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Lobster Roll</a><span>$12.95</span>
            </div>
            <div class="menu-ingredients">
              Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
            </div>
          </div>

        </div>

      </div>

    </section>
        
    -->
      
  
    <!-- Specials Section -->
    <section id="specials" class="specials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Especiais</h2>
        <div><span>Veja os Nossos Especiais</span> <span class="description-title">Specials</span></div>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#specials-tab-1">Peixe Grelhado</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-2">Salada de Polvo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-3">Hambúrguer com Bacon</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-4">Esparguete com Atum</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-5">Carpacho de Peixe</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="specials-tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Peixe Grelhado</h3>
                    <p class="fst-italic">Delicioso peixe fresco grelhado na brasa, temperado com ervas aromáticas e um toque de limão.</p>
                    <p>Servido com legumes salteados e arroz de coco, este prato combina simplicidade e sabor autêntico. Ideal para quem aprecia uma refeição leve, saudável e cheia de sabor crioulo.</p>

                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/peixegrelhado.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Salada de Polvo</h3>
                    <p class="fst-italic">Uma entrada fresca e leve com polvo tenro, legumes crocantes e um toque de vinagrete.</p>
                    <p>Preparada com polvo cozido no ponto certo, pimentos, cebola roxa, salsa fresca e azeite virgem extra. Uma combinação perfeita de texturas e sabores do mar para abrir o apetite.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/saladadepolvo.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Hambúrguer com Bacon</h3>
                    <p class="fst-italic">Suculento hambúrguer artesanal com fatias crocantes de bacon e queijo derretido.</p>
                    <p>Servido num pão brioche tostado, com alface fresca, tomate, cebola caramelizada e molho especial da casa. Acompanha batatas fritas douradas. Uma explosão de sabor para os amantes de hambúrgueres!</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/bacon.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Esparguete com Atum</h3>
                    <p class="fst-italic">Uma receita simples e saborosa com esparguete al dente e atum temperado.</p>
                    <p>Preparado com molho de tomate caseiro, alho, cebola e ervas aromáticas, este prato é leve e reconfortante. Ideal para quem procura uma refeição prática sem abdicar do sabor.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/esparguetecomatum.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="specials-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Carpacho de Peixe</h3>
                    <p class="fst-italic">Lâminas finas de peixe cru marinadas com limão, azeite e ervas frescas.</p>
                    <p>Uma entrada leve e refinada, feita com peixe fresco selecionado, servida com rúcula, flor de sal e raspas de limão. Ideal para quem aprecia sabores delicados e autênticos do mar.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'assets/img/peixefatiado.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Specials Section -->

    <!-- Events Section -->
    <section id="events" class="events section">

      <img class="slider-bg" src="{% static 'assets/img/imagempraia.jpg' %}" alt="" data-aos="fade-in">

      <div class="container">

        <div class="swiper init-swiper" data-aos="fade-up" data-aos-delay="100">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="{% static 'assets/img/aragostaaaaaa.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">


                  <h3>Momentos Únicos</h3>
                  <div class="price">
                    <p><span>—</span></p> <!-- Se não quiseres preço, deixa assim -->
                  </div>
                  <p class="fst-italic">
                    Celebre com quem mais ama num ambiente acolhedor, com boa comida e boas memórias.
                  </p>
                  <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>Espaço ideal para festas de aniversário e encontros especiais.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Ambiente descontraído com música, boa comida e atendimento dedicado.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Regista momentos únicos com amigos e família no nosso restaurante.</span></li>
                  </ul>
                  <p>
                    Criamos experiências para marcar momentos importantes da sua vida. Seja uma comemoração íntima ou uma grande festa, tornamos tudo mais especial.
                  </p>


                </div>
              </div>
            </div><!-- End Slider item -->

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="{% static 'assets/img/platos.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">

                  <h3>Jantares Privados</h3>
                  <div class="price">
                    <p><span>—</span></p>
                  </div>
                  <p class="fst-italic">
                    Um espaço reservado, ideal para reuniões familiares, encontros românticos ou negócios.
                  </p>
                  <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>Privacidade e conforto num ambiente elegante e acolhedor.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Menu personalizado e atendimento exclusivo.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Perfeito para quem quer fugir da rotina e aproveitar bons momentos.</span></li>
                  </ul>
                  <p>
                    Disponibilizamos espaços reservados para que o seu jantar seja exatamente como idealizou — discreto, tranquilo e memorável.
                  </p>

                </div>
              </div>
            </div><!-- End Slider item -->

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="{% static 'assets/img/momentoespecial.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">


                  <h3>Eventos Especiais</h3>
                  <div class="price">
                  <p><span>—</span></p>
                  </div>
                  <p class="fst-italic">
                    Desde batizados a pequenas celebrações culturais, criamos o ambiente perfeito para cada ocasião.
                  </p>
                  <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>Decoração temática e ambiente personalizado.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Opções de menu adaptadas ao seu evento.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Equipa dedicada para garantir que tudo corre como planeado.</span></li>
                  </ul>
                  <p>
                    Transformamos a sua ideia num momento real e especial. Fale connosco e torne o seu evento inesquecível.
                  </p>



                </div>
              </div>
            </div><!-- End Slider item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Events Section -->

    <!-- Book A Table Section -->
    <section id="book-a-table" class="book-a-table section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Reservar uma mesa</h2>
        <div><span>Reservar uma</span> <span class="description-title">Mesa</span></div>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 reservation-img" style="background-image: url('{% static 'assets/img/reservation.jpg' %}');"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg" data-aos="fade-up" data-aos-delay="200">

            <form action="{% url 'reservas' %}#book-a-table" method="post" role="form" class="php-email-form">
              {% csrf_token %}
             
              {% if messages %}
                {% for message in messages %}
                  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                  </div>
                {% endfor %}
              {% endif %}


              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="nome" class="form-control" id="nome" placeholder="Seu Nome" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="telefone" id="telefone" placeholder="Seu Telefone" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="date" name="data" class="form-control" id="data" placeholder="Data" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="time" class="form-control" name="tempo" id="tempo" placeholder="Hora" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="number" class="form-control" name="pessoas" id="pessoas" placeholder="Numero de pessoas" required="">
                </div>
              </div>

              <div class="form-group mt-3">
                <textarea class="form-control" name="mensagem" id="mensagem" rows="5" placeholder="Menssagem"></textarea>
              </div>

              <div class="text-center mt-3">
                <div class="loading">Carregando</div>
                <div class="error-message"></div>
                <div class="sent-message">O seu pedido de reserva foi enviado. Entraremos em contacto por telefone ou email para confirmar a sua reserva. Obrigado</div>
                <button type="submit">Reservar</button>
              </div>
            </form>
          </div><!-- End Reservation Form -->

        </div>

      </div>

    </section><!-- /Book A Table Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Galeria</h2>
        <div><span>Algumas fotos do</span> <span class="description-title">Restaurante</span></div>
      </div><!-- End Section Title -->

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/galeria_4.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/galeria_4.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/momentoespecial.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/momentoespecial.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/galeria_3.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/galeria_3.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/platos.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/platos.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/galeria_7.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/galeria_7.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/momentoespecial.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/momentoespecial.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/galeria_4.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/galeria_4.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/galeria_4.jpg' %}" class="glightbox" data-gallery="images-gallery">
                <img src="{% static 'assets/img/galeria_4.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

        </div>

      </div>

    </section><!-- /Gallery Section -->

    <!-- Chefs Section -->
    <section id="chefs" class="chefs section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Super Pratos</h2>
        <div><span>Pratos em </span> <span class="description-title">Destaque</span></div>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="{% static 'assets/img/esparguetecomatum.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Esparguete</h4>
               
               
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="{% static 'assets/img/garroupa.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Garoupa</h4>
               
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="{% static 'assets/img/peixe.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Peixe</h4>
               
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Chefs Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section dark-background">

      <img src="{% static 'assets/img/image_capa_5.jpg.jpg' %}" class="testimonials-bg" alt="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/antonio.jpeg' %}" class="testimonial-img" alt="">
                <h3>Antonio Carlos Gomes</h3>
                <h4>Ceo &amp; Empresário”</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Sempre sonhei com um lugar onde a cultura, o sabor e a convivência andassem de mãos dadas. O Café Crioulo é isso: um pedaço da nossa alma servido em cada prato. Sou grato por cada cliente que nos escolhe e volta, não só pela comida, mas pela experiência.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/sergio.png' %}" class="testimonial-img" alt="">
                <h3>Sergio Almeida</h3>
                <h4>Software Developer</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Uma das melhores experiências gastronómicas que já tive! A comida estava deliciosa, o ambiente super acolhedor e o atendimento impecável. Senti-me mesmo em casa. Recomendo a todos que procuram boa comida e um serviço com alma.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/neyla.jpg' %}" class="testimonial-img" alt="">
                <h3>Neyla Almeida</h3>
                <h4>Recursos Humanos</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span> Cresci a ver o meu pai dedicar-se de corpo e alma a este restaurante. Cada prato tem uma história, cada detalhe foi pensado com amor. Hoje, ver as pessoas a apreciarem aquilo que construímos em família enche-me de orgulho. O Café Crioulo é mais do que um restaurante — é a nossa casa partilhada com todos.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            

           

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contacto</h2>
        <div><span>Conheça o nosso</span> <span class="description-title">Contacto</span></div>
      </div><!-- End Section Title -->

      <div class="mb-5">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.542298689781!2d-22.90369708436653!3d16.598251485953213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b5bf5178d465d%3A0x3e7a871e3ad8ef69!2sSanta%20Maria%2C%20Cabo%20Verde!5e0!3m2!1spt-PT!2spt!4v1685721502528!5m2!1spt-PT!2spt"
          width="100%"
          height="400"
          frameborder="0"
          style="border:0;"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0">
        </iframe>

      </div><!-- End Google Maps -->

      <div class="container" data-aos="fade">

        <div class="row gy-5 gx-lg-5">

          <div class="col-lg-4">

            <div class="info">
              <h3>Entre em contacto</h3>
              <p>Estamos aqui para responder às suas dúvidas, receber a sua opinião ou atender a pedidos de reserva. Use o formulário abaixo, telefone ou visite-nos pessoalmente — será um prazer ajudar.</p>

              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Localização:</h4>
                  <p>Santa Maria, Cabo Verde</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>neylagomes@hotmail.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Telefone:</h4>
                  <p>+238 2421774</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-8">
            <form action="{% url 'contacto' %}#contact" method="post" role="form" class="php-email-form">
              {% csrf_token %}

              <!--alerta inicio-->

              {% if messages %}
                {% for message in messages %}
                  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                  </div>
                {% endfor %}
              {% endif %}

              

              <!--alerta fim-->
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="nome" class="form-control" id="nome" placeholder="Seu Nome" required="">
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" required="">
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="assunto" id="assunto" placeholder="assunto" required="">
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="mensagem" id="mensagem" placeholder="Mensagem" required=""></textarea>
              </div>
              <div class="my-3">
                <div class="loading">A carregar...</div>
                <div class="error-message"></div>
                <div class="sent-message">A sua mensagem foi enviada. Obrigado!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div class="address">
            <h4>Endereço</h4>
            <p>Santa Maria, Cabo Verde</p>
            <p></p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contacto</h4>
            <p>
              <strong>Telefone:</strong> <span>+238 2421774</span><br>
              <strong>Email:</strong> <span>neylagomes@hotmail.com</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Horário de Abertura</h4>
            <p>
              <strong>Segunda-Sabado:</strong> <span>7:30AM - 23PM</span><br>
              <strong>Domingo</strong>: <span>Fechado</span>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <h4>Siga-nos nas redes sociais</h4>
          <div class="soFollow Uscial-links d-flex">
            <a href="https://twitter.com/teu_perfil" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.facebook.com/teu_perfil" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/teu_perfil" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/teu_perfil" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Restaurante Cafe Crioulo</strong> <span>Todos os direitos reservados.</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>